$primary-color: #7345fc;
$primary-dark-grey: #1d212f;
$primary-light-grey: #9b9b9b;
$primary-green: #e1f35e;

$secondary-purple: #a081fd;
$secondary-grey: #353a4b;
$secondary-green: #d8ee17;

$form__input__outline: #9b9b9b;

$breakpoint-md: 768px;
