.c-modal {

    @keyframes fade-in {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes scale-in {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .animate {
        &-fade-in {
            animation: fade-in 200ms ease-out;
        }

        &-scale-in {
            animation: scale-in 200ms ease-out;
        }
    }

}
